body {
    background-color: pink;
    font-family: Arial;
    text-align: center;
}

.container {
    background: white;
    margin: 50px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}

textarea {
    width: 90%;
    height: 150px;
    padding: 10px;
}

button {
    background: black;
    color: white;
    padding: 10px 20px;
    border: none;
}
